{% extends 'myapp/base.html' %}

 {% block content %}
        {% for post in posts %}
             
<div class="post">

                <p>
                    <h1>
                          {{ post.title }}
                   </h1>
               </p> 
               
                <p>
                   {{ post.text|linebreaksbr}}
                </p>

                <p> 
                  <h4>
                     By {{ post.author }}
                 </h4>
             </p>
             <hr> 
</div>

        {% endfor %}
 {% endblock%}  
                   