{% extends 'myapp/base.html' %}
    
<!-- Code HTML--> 


 {% block content %}
        {% for post in posts %}


    <div class="post">
        <div class="date">
            <p>published on {{ post.published_date }}</p>
        </div>

        <p>
            <h1>
                <a href="{% url 'post_detail' pk=post.pk %}">
                  {{ post.title }}
               </a>
           </h1>
       </p> 
       
        <p>
           {{ post.text|linebreaksbr}}
        </p>

        <p> 
          <h4>
             By {{ post.author }}
         </h4>

     </p><hr><br>
    </div>


{% endfor %}
 {% endblock%}
           